table {
    border-spacing:  0;
}
mindfinder, tr, td{
    border: 1px solid black;
}

.block{
    width: 20px;
    height: 20px;
}
.closed{

}
.opened{

}
.checked{
    background: blue;
}
.mine{
    background: red;
}